{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>learnmore</title>
  </head>
  <style>
              body{
                background-image: url('{% static "images/AI8.jpg"%}');
              }
  </style>
  <body>
    <div style="text-align: right;">&nbsp; <a style="color: white; font-family: Avenir;"
        href="http://127.0.0.1:8000/main/">&lt;
        RETURN</a></div>
    <div style="text-align: center;"><b><span style="color: white; font-family: Avenir; font-size:200%;"><br>
          LEARN MORE</span></b><br>
      <span style="color: white; font-family: Avenir;"><br>
        <br>
        <br>
      </span>
      <div style="text-align: left;"><span style="color: white; font-family: Avenir; font-size:150%;">
          &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; We help you:</span><br>
        <span style="color: white; font-family: Avenir;"> </span><br>
        <span style="color: white; font-family: Avenir; font-size:150%;">
          &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; Drive personalized financial personal
          results ongoing</span><br>
        <span style="color: white; font-family: Avenir;font-size:150%;">
          &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; Add more value to each client you work
          with</span><br>
        <span style="color: white; font-family: Avenir;font-size:150%;">
          &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; simplify complicated processes and
          drive down time</span><br>
        <span style="color: white; font-family: Avenir;font-size:150%;">
          &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; be proactive by identifying high
          impact advice opportunities</span><br>
        <span style="color: white; font-family: Avenir;font-size:150%;">
          &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; build more comprehensive relationships</span><br>
        <span style="color: white; font-family: Avenir;font-size:150%;">
          &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; get more credit for your financial
          planning advice </span></div>
    </div>
  </body>
</html>
