{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Aboutus</title>
  </head>
    <style>
              body{
                background-image: url('{% static "images/AI8.jpg"%}');
              }
    </style>



  <body>
    <div style="text-align: right;">&nbsp; <a style="color: white; font-family: Avenir;"
        href="http://127.0.0.1:8000/main/">&lt;
        RETURN</a></div>
    <div style="text-align: center;"><b><span style="color: white; font-family: Avenir; font-size:200%;"><br>
          ABOUT US</span></b><span style="color: white; font-family: Avenir;"></span></div>
  </body>
</html>
